@font-face {
  font-family: "Lato";
  src: url("../../assets/Typography/Lato-Bold.ttf") format("trueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/Typography/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
